body {
    /* padding: 20px 80px; */
    /* background: rgb(190, 54, 54) url(https://subtlepatterns.com/patterns/extra_clean_paper.png); */
    /* background: url(https://cdn.pixabay.com/photo/2012/04/15/19/14/honeycomb-34984_1280.png); */
    /* background-image: url(https://cdn.pixabay.com/photo/2017/02/14/09/02/wood-2065366_1280.jpg); */
    /* background: url(https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_1280.jpg); */
    background: url(../public/img/wall-2.jpg);
    /* background-image: url(https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); */
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
  }

html {
    margin: 0px;
    height: 100%;
    width: 100%;


}  


/*----------------- Header for all pages ----------------- */



.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    margin-bottom: 50px;
    height: 90px;
    border-bottom: solid 3px;
    width: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 48px;
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'Saira Stencil One', cursive; */
    font-family: 'Shrikhand', cursive;
    /* /* color: plum; */
    color: plum;
    margin-left: 20px;
    /* text-decoration: underline white; */
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
}
.navbar-light .navbar-brand:hover {
    color: rgba(0,0,0,.9);
    font-size: 48px;
    font-family: 'Shrikhand', cursive;
    /* text-decoration: underline white; */
    /* font-family: 'Alfa Slab One', cursive; */
     /* font-family: 'Saira Stencil One', cursive; */
    color: plum;
    /* text-shadow: white; */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

  



/* ------------------ Body and Home Page ---------------------- */

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/02/14/09/02/wood-2065366_1280.jpg); */
}



.container {
  padding: 16px;
    margin-right: auto;
    margin-left: auto;
}

.col, .col-1, .col-10, .col-11,
.col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg,
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-auto, .col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-auto, .col-xl, 
.col-xl-1, .col-xl-10, .col-xl-11, 
.col-xl-12, .col-xl-2, .col-xl-3, 
.col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 47px;
    text-decoration: underline;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.paragraph-description {
    margin-top: 0;
    text-align: center;
    margin-bottom: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#sign-up {
    border-color: black;
    width: 367px;
    margin-right: 2px;
    background-color: blueviolet;
    display: table-cell;
    text-decoration: underline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Css animantions */






#log-in {
    border-color: black;
    width: 360px;
    margin-right: 2px;
    background-color: blueviolet;
    display: table-cell;
    text-decoration: underline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.row-1 {
    margin-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px black;
    border: black;
    border-style: double;
    border-width: 5px;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 75px;
    padding-top: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* display: -webkit-inline-box; */
    border-top: solid 3px;
}

.paragraph-footer-one {
    /* text-align: center; */
    /* float: left; */
    /* margin-left: 250px; */
    margin-top: 5px;
    color: white;
}

.paragraph-footer-two {
    /* text-align: center; */
    /* float: right; */
    /* margin-right: 250px; */
    margin-top: 5px;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
    background-color: transparent;
}
a:hover{
    color: black;
    font-size: 18px;
}

.a-text {
    font-weight: 500;

}

/* Sign Up Page */

.a-color {
    color: black;
}


.col, .col-1, .col-10, .col-11,
.col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg,
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-auto, .col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-auto, .col-xl, 
.col-xl-1, .col-xl-10, .col-xl-11, 
.col-xl-12, .col-xl-2, .col-xl-3, 
.col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 47px;
    text-decoration: underline;
}

.login-heading:hover{
    color: black;
    text-decoration: underline;
    text-shadow: grey;
    /* text-shadow: 2px 2px pink; */
}


.container-two {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

element.style {
    max-width: 400px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    box-shadow: 0px 46px 200px black;
    /* background-color: whitesmoke; */
    /* background-color: white; */
    background-color: ghostwhite;
    margin-bottom: 56px;
    border-radius: 8px;
    padding: 37px;
    padding-top: 10px;
    padding-left: 76px;
    padding-right: 76px;
    border: black;
    border-style: double;
    border-width: 5px;

}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.text-center {
    text-align: center!important;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.card {
    background: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  
    background-clip: border-box;
    border-radius: 8px;
    border: none;
    
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid black;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    float: left;
    margin-top: 8px;
    width: 50%;
    margin-left: -1px;
    width: 100%;
    background-color: mediumorchid;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    border-color: mediumorchid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

/* Sign In Page  */

#sign-up-button2 {
    margin: auto;
    width: 100%;
}

.label-sign-up {
    display: inline-block;
    margin-bottom: 1rem;
    /* font-family: 'Oleo Script', cursive; */
    font-size: 25px;
}

/* .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    height: 90px;
} */
 #navbar-2 {
     height: 90px;
 }

 p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* #top-label {
    padding-top: 15px;
} */

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    /* background-color: whitesmoke; */
    /* background-color: white; */
    background-color: ghostwhite;
    width: 50px;
    color: black;
    text-align: center;
  }
  .hr-or {
    /* background-color: whitesmoke; */
    /* background-color: white; */
    background-color: ghostwhite;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }



 /* Contact Page */

 h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Oleo Script', cursive;
    font-size: 47px;
    text-decoration: underline;
}

label {
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}

textarea.form-control {
    height: auto;
    margin-bottom: 23px;
}

/* Apply Page  */

.login-heading {
    text-align: center;
    margin-bottom: 1.5rem!important;
    text-align: center;
    /* font-family: 'Oleo Script', cursive; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 47px;
    text-decoration: underline;
    font-weight: 900;
    /* text-shadow: 2px 2px plum; */
    text-shadow: 2px 1px 2px grey;
}



.apply-paragraph {
    text-align: center;
    /* text-decoration: underline; */
    font-size: 20px;
    font-weight: 500;
}


/* Dashboard */

.img-icon {
    display: block;
    cursor: pointer;
    border-radius: 70px;
}
.img-icon:hover {
    color: red;
    background-color: red;
    cursor: pointer;
}
.db-page {
    background-size: cover;
    /* background: url(../public/img/wall.jpg); */

}

.service-button {
    color: black;
    border-radius: 8px;
}

.service-button:hover {
    color: white;
    text-decoration: underline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Profile */

.container-profile {
    padding: 16px;
    margin-right: auto;
    /* margin-left: auto; */
    /* border: black; */
    /* border: black; */
    /* border-style: groove; */
    margin-left: 21px;
    margin-right: 21px;

}



/* Profile */


  /* Profile container */
  .profile {
    margin: 20px 0;
    margin-left: 52px;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    border-radius: 8px;
    border: black;
    border-style: double;
    border-width: 5px;
    box-shadow: 0px 0px 40px black;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 41px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
    padding: 5px;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: black;
    font-size: 18px;

    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 391px;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border: black;
    border-style: double;
    border-width: 5px;
    box-shadow: 0px 0px 40px black;
  }

  .side-bar-profile {
      margin-top: 0px;
      width: 212px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: fit-content;
  }

  .nav {
    display: -ms-flexbox;
    display: contents;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#img-profile {
    width: 87px;
}

.container-profile {
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}

#p-js {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-weight: 900;
    text-decoration: underline;
}

#overview-click {
    text-decoration: none;
    color: #5a7391;
}

#settings-click {
    text-decoration: none;
    color: #5a7391;
}

#help-click {
    text-decoration: none;
    color: #5a7391;
}


#overview-click:hover {
    font-size: 20px;
    color: black;
    text-decoration: underline;

}

#settings-click:hover {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}

#help-click:hover {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}

/* Footer more */
.fa {
    padding: 3px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
  }
  
  /* .fa:hover {
      opacity: 0.7;
  } */

  .fa-facebook {
    background: black;
    color: white;
  }

  .fa-facebook:hover {
    background: #3B5998;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

  .fa-twitter {
    background: black;
    color: white;
  }

  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

  .fa-google {
    background: black;
    color: white;
  }

  .fa-google:hover {
    background: #dd4b39;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

  .fa-linkedin {
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }

.customerLink {
    color: white;
  }

/*
   Media screens
*/

@media only screen and (max-width: 600px) {

    .row-1 {

        margin: auto;
        margin-left: 60px;


    }

}
